@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    background-color: #f0fafb;
	font-family: 'Noto Sans', sans-serif;
}
.card{
    background-image: linear-gradient(#da5d93, #6d4bc7);
	border: none;
	border-radius: 10px;
	width: 275px;
	margin-top: 20%;
}
.fa-ellipsis-v{
	font-size: 10px;
	color: #C2C2C4;
	margin-top: 6px;
	cursor: pointer;
}
.text-dark{
	font-weight: bold;
	margin-top: 8px;
	font-size: 13px;
	letter-spacing: 0.5px;
}
.card-bottom{
   
	background: #ffffff;
	border-radius: 6px;
}
.flex-column{
	color: #adb5bd;
	font-size: 13px;
}
.flex-column p{
	letter-spacing: 1px;
	font-size: 18px;
}
.btn-secondary{
	height: 40px!important;
	margin-top: 3px;
}
.btn-secondary:focus{
	box-shadow: none;
}
