html{
    scroll-behavior: smooth;
}


aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}


.bg-black{
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);

}
.text-white{
    color:  white;
}
.text-black{
    color:  black;
}
.bg-primary-orange{
    background-color: #fec503;
}
.primary-orange{
    color: #fec503;
}
.org-btn{
    border: 1px solid #fec503;
    color: #fec503;
}
.org-btn:hover{
    background-color: #fec503;
    color: white;
}

.light-grey{
    color:#6c757d;
}

.bg-light-grey{
    background-color: #6c757d;
}

.social-buttons-circle-dark-grey{
    background:  #1a1d20;
}

/* img css */

/* .testimonals-container img{
  width:300px;

} */

/* hero */
.center{
    text-align: center;
}

/*  Card hover */
.move-up:hover{
    background-color: #fec503;
    color: white;
    transition: all .5s;
    transform : translateY(-10px);
}

.ng-mrg-t{
    margin-top: -50px;
}


/* Footer code */
.foot{
    /*   position: relative; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1d20;
    color: white;
    text-align: center;
    top: 75px;
}

a {
    color: #6c757d ;
}
a:hover {
    color: #fec503;
    text-decoration: none;
}

::selection {
    background: #fec503;
    text-shadow: none;
}
.footer-column {
    text-align: center;
}
.nav-link {
    padding: 0.1rem 0;
}
span.nav-link {
    color: #6c757d;
}
span.nav-link:hover {
    color: #fec503;
}
span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.fas {
    margin-right: 0.5rem;
}

footer {
    padding: 2rem 0;
    background-color: #212529;

}


ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fec503;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color:  #1a1d20;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}


.modal {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);

    height: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #C75547;
    border-radius: 50%;
    text-align: center;
}
/* .btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
} */

/* .btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
} */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}
